{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier", "import"],
  "rules": {
    "no-console": ["off"],
    "no-await-in-loop": ["off"],
    "prettier/prettier": ["error"]
  },
  "env": {
    "jest": true,
    "node": true
  }
}
